@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

body{
  background: url("wallpaper.jpg");
}

.header {
  font-family: 'Amaranth', sans-serif;
}

.quotes{
   background: url("wallpaper2.jpg");
   font-family: "Palatino";
}

.quote{
  color: #FEE1C7;
  font-size: 150%;
}

.author{
  font-family: "Times New Roman";
  color: #FA7E61;
  font-size: 200%;
}

footer {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  font-size: 120%;
  font-weight: normal;
  color: black;
}

body a, button,
a:hover,
a:active,
a:visited {
  color: #922031;
  text-decoration: none !important;
  outline: none !important;
}
